<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.ch.tests.LoginTest"/>
      <class name="com.ch.tests.ClaimsSubmissionTest"/>
      <class name="com.ch.tests.SearchFunctionalityTest"/>
      <class name="com.ch.tests.FailedCMRTest"/>
      <class name="com.ch.tests.TIPTest"/>
      <class name="com.ch.base.Base"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
